{% if post.header.miniatura %}
  {% capture teaser %}{{site.immagini}}{{ post.date | date: "%Y/%Y-%m-%d"}}-{{post.url | remove_first: "/"}}{{ post.header.miniatura }}{% endcapture %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif post.header.image %}
  {% capture teaser %}{{ post.header.image }}{% endcapture %}
{% elsif post.header.overlay_image %}
    {% capture teaser %}{{ post.header.overlay_image }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% capture immagine %}{{ post.header.miniatura }}{% endcapture %}
{% capture immagine_tipo %}{{ post.header.immagine_tipo }}{% endcapture %}
{% capture immagine_alt %}{{ title }}{% endcapture %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
      <div class="archive__item-teaser">
        <a href="{{ post.url | relative_url }}" rel="permalink">
            {% include miniatura img=immagine ext=immagine_tipo alt=immagine_alt %}
        </a>
      </div>
      <p class="page__meta">
        {% if post.last_modified_at %}
          <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> <time datetime="{{ post.last_modified_at | date: "%Y-%m-%d" }}">{{ post.last_modified_at | date: "%B %-d, %Y" }}</time>
        {% elsif post.date %}
          <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        {% endif %}

        {% if post.read_time %}
          • <i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}
        {% endif %}
      </p>

    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
