<!-- strani_anelli_css.css -->
<style>
.embed-spotify {position: relative;padding-bottom: 100%;height: 0;overflow: hidden;max-width: 100%;}
.embed-spotify iframe, .embed-spotify object, .embed-spotify embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.domanda_intervista { color: #167ac6; }
.iaia { color: #666699; }
.iaio { color: #008000; }
.persona { color: #a0a91a; }
.parla:before { content: " – "; }
.parla:after { content:"\a"; white-space: pre; }
body::-webkit-scrollbar { width: 1em; }
body::-webkit-scrollbar-thumb {background-color: #639497;outline: 1px solid #639497;border-radius: 4px;}
body::-webkit-scrollbar-track { background-color: #1a1d24; }
</style>
